.table-wrapper {
    overflow: auto;
    background: #fff;
    border-radius: 20px;
    min-height: 200px;
    padding: 20px;
    tr {
        td, th {
            font-family: Arial, Helvetica, sans-serif;
            min-width: 150px;
            font-size: 14px;
            &:first-child {
                width: unset;
            }
            &.possitive {
                background: #a3ff9b;
            }
            &.negative {
                background: #ff9b9b;
            }
        }
        th {
            vertical-align: middle;
        }
        td {
            &:nth-child(2) {
                background: #ceecff;
            }
        }
    }
}
.data {
    display: inline-block;
    width: 50px;
}
.analiz {
    font-size: 0.7rem;
}
.chart-wrapper {
    height: 200px;
    canvas {
        width: 100%;
    }
}
@media (max-width: 576px) {
    canvas {
        max-width: 300px;
    }
}
