/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #eaf3f9;
    min-height: 100vh;
}